In [5]:
import pandas as pd
import numpy as np

In [6]:
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

In [10]:
#Project DataFrame

In [7]:
project_df.to_csv('project.csv', index=False)

In [8]:
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

In [11]:
# Employee DataFrame

In [9]:
employee_df.to_csv('employee.csv', index=False)

In [10]:
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

In [12]:
# Seniority Level DataFrame

In [11]:
seniority_df.to_csv('seniority.csv', index=False)

In [13]:
# Read project data

In [12]:
project_df = pd.read_csv('project.csv')

In [13]:
# Calculate running average

running_avg = []
sum_cost = 0
count = 0

In [14]:
for i, row in project_df.iterrows():
    if not pd.isna(row['Cost']):
        sum_cost += row['Cost']
        count += 1
        running_avg.append(row['Cost'])
    else:
        if count > 0:
            avg = sum_cost / count
            project_df.at[i, 'Cost'] = avg
            running_avg.append(avg)
        else:
            running_avg.append(0)

In [15]:
project_df.to_csv('project.csv', index=False)

In [16]:
# Read employee data

employee_df = pd.read_csv('employee.csv')

In [19]:
# Split name into first and last name

In [17]:
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

In [18]:
# Drop original name column

employee_df.drop('Name', axis=1, inplace=True)

In [19]:
# Save updated dataframe

employee_df.to_csv('employee.csv', index=False)

In [20]:
# Merge employee and seniority data

merged_df = pd.merge(employee_df, seniority_df, on='ID')

In [21]:
# Merge with project data

final_df = pd.merge(merged_df, project_df, on='ID')

In [22]:
# Save final dataframe

final_df.to_csv('final.csv', index=False)

In [24]:
# Add bonus column (5% of cost for finished projects)

final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', 
                            final_df['Cost'] * 0.05, 
                            0)

In [25]:
final_df.to_csv('final.csv', index=False)

In [27]:
# Decrease designation level for failed projects

final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

In [28]:
# Remove employees with designation level > 4

final_df = final_df[final_df['Designation Level'] <= 4]

In [30]:
# Save updated dataframe

final_df.to_csv('final.csv', index=False)

In [31]:
# Add Mr./Mrs. prefix

final_df['First Name'] = np.where(final_df['Gender'] == 'M',
                                 'Mr. ' + final_df['First Name'],
                                 'Mrs. ' + final_df['First Name'])

In [32]:
# Drop gender column

final_df.drop('Gender', axis=1, inplace=True)

In [33]:
final_df.to_csv('final.csv', index=False)

In [34]:
# Promote designation level for employees over 29

final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

In [35]:
final_df['Designation Level'] = np.where(final_df['Designation Level'] > 4, 
                                       4, 
                                       final_df['Designation Level'])

In [36]:
final_df.to_csv('final.csv', index=False)

In [37]:
# Group by employee and sum project costs

total_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_cost_df.columns = ['ID', 'First Name', 'Total Cost']

In [38]:
# Save new dataframe

total_cost_df.to_csv('TotalProjCost.csv', index=False)

In [39]:
# Filter employees where city contains 'o'

filtered_employees = final_df[final_df['City'].str.contains('o', case=False)]

In [40]:
print(filtered_employees[['ID', 'First Name', 'Last Name', 'City']])

      ID  First Name  Last Name     City
3   A002  Mrs. Alice  Luxumberg   London
4   A002  Mrs. Alice  Luxumberg   London
8   A004   Mrs. Nina      Adgra  Newyork
9   A004   Mrs. Nina      Adgra  Newyork
10  A004   Mrs. Nina      Adgra  Newyork